                /*
 * Carousel
 */
                
                .carousel-inner .item img {
                    width: 100%;
                }
                
                .vid {
                    width: 100%;
                    height: 30rem;
                    object-fit: cover;
                }
                
                .w-100 {
                    width: 100%;
                    height: 36rem;
                    object-fit: cover;
                }
                /*
* Shopping list
*/
                
                @media screen and (max-width: 940px) {
                    .items {
                        width: 420px;
                    }
                    .wrap {
                        width: 700px;
                    }
                    .loadmore {
                        width: 420px;
                    }
                }
                
                @media screen and (max-width: 720px) {
                    .items {
                        width: 220px;
                    }
                    .wrap {
                        width: 500px;
                    }
                    .loadmore {
                        width: 220px;
                    }
                }
                
                .items img {
                    width: 110px;
                    height: 140px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                }
                
                .items {
                    width: 100%;
                    margin: 5px;
                    display: inline-block;
                }
                
                .item {
                    vertical-align: top;
                    width: 250px;
                    height: 290px;
                    margin: 17px;
                    background: #FEFEFE;
                    display: inline-block;
                    border-radius: 3px;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
                }
                
                .items h3 {
                    text-align: center;
                    margin-bottom: 15px;
                    margin-left: 15px;
                    margin-right: 5px;
                    font-size: 1em;
                }
                
                .wrap {
                    max-width: 100%;
                    margin: 0 auto;
                }
                
                .items h5 {
                    position: relative;
                    bottom: 10px;
                    text-align: center;
                    margin-top: 20px;
                }
                
                .descroption {
                    margin: 0;
                    text-align: center;
                    font-size: 11px;
                    font-style: italic;
                    color: grey;
                    font-family: sans-serif;
                }
                /*
 * Login & Register Page
 */
                
                .login-container {
                    text-align: center;
                    position: relative;
                    width: fit-content;
                    height: fit-content;
                    background: white;
                    border-radius: 6px;
                    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
                    margin: auto;
                    margin-top: 150px;
                    padding: 40px 50px;
                }
                
                .login p a {
                    color: tomato;
                }
                
                .login a:hover {
                    color: rgb(255, 171, 157);
                }
                
                .login {
                    background-color: rgb(26, 26, 26);
                    background-image: url("../assets/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg");
                    background-size: cover;
                    background-clip: border-box;
                    background-position: center;
                }
                
                .register-container {
                    text-align: center;
                    position: relative;
                    width: fit-content;
                    height: fit-content;
                    background: white;
                    border-radius: 6px;
                    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
                    margin: auto;
                    margin-top: 50px;
                    padding: 40px 50px;
                }
                /*
 * Text
 */
                
                @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
                body {
                    font-family: 'Poppins', sans-serif;
                    background: #fafafa;
                }
                
                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.1em;
                    font-weight: 300;
                    line-height: 1.7em;
                }
                
                label {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.1em;
                    font-weight: 300;
                    line-height: 1.7em;
                    font-weight: bold;
                }
                
                a,
                a:hover,
                a:focus {
                    color: inherit;
                    text-decoration: none;
                    transition: all 0.3s;
                }
                /*
 * Nav Bar
 */
                
                .navbar {
                    padding: 15px 10px;
                    background: #fff;
                    border: none;
                    border-radius: 0;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                }
                
                .navbar-btn {
                    box-shadow: none;
                    outline: none !important;
                    border: none;
                }
                
                .profile {
                    width: 30px;
                    height: 30px;
                    margin: 0 5px 0 0;
                    margin-left: 0;
                    border-radius: 100%;
                }
                
                .profile-pic {
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                }
                /*
 * Side Bar
 */
                
                .wrapper {
                    display: flex;
                    width: 100%;
                    align-items: stretch;
                    perspective: 1500px;
                }
                
                .sidebar {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 100;
                    padding: 0;
                    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
                }
                
                #sidebar {
                    width: 250px;
                    top: 0;
                    left: 0;
                    height: auto;
                    z-index: 999;
                    background: #444444;
                    color: #fff;
                    transition: all 0.3s;
                }
                
                #sidebar.active {
                    margin-left: -250px;
                }
                
                #sidebar ul li a {
                    text-align: left;
                }
                
                #sidebar.active ul li a {
                    padding: 20px 10px;
                    text-align: center;
                    font-size: 0.85em;
                }
                
                #sidebar.active ul li a i {
                    margin-right: 0;
                    display: block;
                    font-size: 1.8em;
                    margin-bottom: 5px;
                }
                
                #sidebar.active ul ul a {
                    padding: 10px !important;
                }
                
                #sidebar ul ul a {
                    font-size: 0.9em !important;
                    padding-left: 30px !important;
                    background: #505050;
                }
                
                #sidebar.active .dropdown-toggle::after {
                    top: auto;
                    bottom: 10px;
                    right: 50%;
                    -webkit-transform: translateX(50%);
                    -ms-transform: translateX(50%);
                    transform: translateX(50%);
                }
                
                #sidebar .sidebar-header {
                    padding: 20px;
                    background: #242424;
                }
                
                #sidebar ul.components {
                    padding: 20px 0;
                    border-bottom: 1px solid #242424;
                }
                
                #sidebar ul li a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;
                }
                
                #sidebar ul li a:hover {
                    color: tomato;
                    background: #fff;
                }
                
                #sidebar.active ul li a i {
                    margin-right: 10px;
                }
                
                #sidebar ul li.active>a,
                a[aria-expanded="true"] {
                    color: #fff;
                    background: #303030;
                }
                
                #sidebar a[data-toggle="collapse"] {
                    position: relative;
                }
                
                .dropdown-toggle::after {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }
                
                #sidebarCollapse {
                    width: 40px;
                    height: 40px;
                    background: #f5f5f5;
                    cursor: pointer;
                    position: absolute;
                    z-index: 100;
                }
                
                #sidebarCollapse span {
                    width: 80%;
                    height: 2px;
                    margin: 0 auto;
                    display: block;
                    background: #555;
                    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
                    transition-delay: 0.2s;
                }
                
                #sidebarCollapse span:first-of-type {
                    transform: rotate(45deg) translate(2px, 2px);
                }
                
                #sidebarCollapse span:nth-of-type(2) {
                    opacity: 0;
                }
                
                #sidebarCollapse span:last-of-type {
                    transform: rotate(-45deg) translate(1px, -1px);
                }
                
                #sidebarCollapse.active span {
                    transform: none;
                    opacity: 1;
                    margin: 5px auto;
                }
                /*
 * Media Queries
 */
                
                @media (max-width: 768px) {
                    #sidebar {
                        margin-left: -250px;
                    }
                    #sidebar.active {
                        margin-left: 0;
                    }
                    #sidebarCollapse span:first-of-type,
                    #sidebarCollapse span:nth-of-type(2),
                    #sidebarCollapse span:last-of-type {
                        transform: none;
                        opacity: 1;
                        margin: 5px auto;
                    }
                    #sidebarCollapse.active span {
                        margin: 0 auto;
                    }
                    #sidebarCollapse.active span:first-of-type {
                        transform: rotate(45deg) translate(2px, 2px);
                    }
                    #sidebarCollapse.active span:nth-of-type(2) {
                        opacity: 0;
                    }
                    #sidebarCollapse.active span:last-of-type {
                        transform: rotate(-45deg) translate(1px, -1px);
                    }
                    #content {
                        width: 100%;
                    }
                    #content.active {
                        width: calc(100% - 250px);
                    }
                }
                /*
 * Navbar
 */
                
                .navbar {
                    background-color: tomato;
                }
                
                .navbar-brand {
                    padding-top: .75rem;
                    padding-bottom: .75rem;
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: white;
                }
                
                .navbar-brand:hover {
                    color: rgb(255, 171, 157);
                }
                
                .navbar .form-control {
                    padding: .75rem 1rem;
                    border-width: 0;
                    border-radius: 0;
                }
                
                .nav-link {
                    color: white;
                }
                
                .form-control-dark {
                    color: #fff;
                    background-color: rgba(255, 255, 255, .1);
                    border-color: rgba(255, 255, 255, .1);
                }
                
                .form-control-dark:focus {
                    border-color: transparent;
                    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
                }
                /*
 * Containers & Content
 */
                
                .container1 {
                    padding: 2rem 2rem;
                    background-color: white;
                }
                
                .container3 {
                    padding: 2rem 2rem;
                    background-color: #e9ecef;
                }
                
                .container2 {
                    padding: 2rem 2rem;
                    background-color: tomato;
                    color: white;
                }
                
                #content {
                    width: 100%;
                    min-height: 100vh;
                    transition: all 0.3s;
                }
                
                #content-product {
                    width: 100%;
                    transition: all 0.3s;
                    padding: 1rem 2.5rem 0 2.5rem;
                }
                
                .contacts-wrapper {
                    width: 200px;
                    overflow: hidden;
                    float: right;
                    margin-bottom: 1rem;
                }
                /*
 * Footer
 */
                
                .login-footer {
                    position: fixed;
                }
                
                .footer {
                    width: 100%;
                    background-color: rgb(26, 26, 26);
                    color: white;
                    text-align: center;
                    padding: 1.5rem 1.5rem;
                    margin: auto auto 0 auto;
                    bottom: 0;
                    font-size: 11px;
                }
                /*
 * Utilities
 */
                
                .border-top {
                    border-top: 1px solid #443c3c;
                }
                
                .border-bottom {
                    border-bottom: 1px solid #e5e5e5;
                }
                
                .user {
                    padding: 50px 20px;
                    background: #FFFFFF;
                    border-radius: 2px;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                    width: 330px;
                    display: block;
                    margin: 0 auto;
                }
                
                #user-photo {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto 10px auto;
                }
                
                #user-name {
                    color: #0066AA;
                    font-weight: bold;
                }
                
                #user-email {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    color: #0066AA;
                }
                
                .g-signin2,
                .g-signin2 .abcRioButton {
                    display: block;
                    margin: 20px auto 0 auto;
                    text-align: center;
                }
                /*
* Forms
*/
                
                .form-group {
                    padding: 0;
                }
                /*
* Image Overlay
*/
                
                .bg-overlay {
                    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://www.pbs.org/wgbh/nova/media/images/shutterstock_1041249343.width-2500.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    color: #fff;
                    width: 100%;
                    height: 27rem;
                    padding-top: 50px;
                    object-fit: cover;
                }
                
                .bg-overlay-2 {
                    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://www.spacex.com/static/images/backgrounds/mars_humans.webp");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    color: #fff;
                    width: 100%;
                    height: 38rem;
                    padding: 70px 70px 0 70px;
                    object-fit: cover;
                }
                
                .bg-overlay-3 {
                    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://cdn.shopify.com/s/files/1/0173/8204/7844/articles/SpaceX-Tesmanian_1800x.jpg?v=1592622401");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    color: #fff;
                    width: 100%;
                    height: 30rem;
                    padding: 70px 70px 0 70px;
                    object-fit: cover;
                }
                
                .bg-overlay h1 {
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.7em
                }
                
                .bg-overlay-2 h1 {
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.7em
                }
                
                .bg-overlay-3 h1 {
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.7em
                }
                
                .bg-overlay h4 {
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.7em
                }
                
                .bg-overlay-2 h4 {
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.7em
                }
                
                .bg-overlay-3 h4 {
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.7em;
                }
                
                .container {
                    padding: 2rem 0rem;
                }
                
                .table-image thead td,
                .table-image thead th {
                    border: 0;
                    color: #666;
                    font-size: 0.8rem;
                }
                
                .table-image td,
                .table-image th {
                    vertical-align: middle;
                    text-align: center;
                }
                
                .table-image td.qty,
                .table-image th.qty {
                    max-width: 2rem;
                }
                
                .price {
                    margin-left: 1rem;
                }
                
                .modal-footer {
                    padding-top: 0rem;
                }
                
                .btn-success {
                    color: #fff;
                    background-color: #28a745;
                    border-color: #28a745;
                    margin-bottom: 10px;
                }
                
                .logo {
                    width: 60px;
                    height: 60px;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: 10px;
                }